
@{
    ViewBag.Title = "Veterans";
}
<div class="jumbotron">
    <h1>Veterans Jobs</h1>
    <p class="lead">Welcome to Vet Jobs Search (Temporary).</p>

</div>
<h2>Veterans Page</h2>
<p> Welcome to the Veterans side of the site. Here
    you can signup or login to view and apply for jobs.</p>


