@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vet Jobs</h1>
    <p class="lead">Welcome to Vet Jobs Search (Temporary).</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This site was created to help veterans and potential employers find each other. Whether it is a new career 
            or just a weekend project to earn some cash.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Veterans Sign up or Sign in Here</h2>
        <p>Veterans can sign up or login here to view jobs or post your resumes.</p>
        <p><a class="btn btn-default" href="/Veterans">Sign Up &raquo;</a></p>
        <p><a class="btn btn-default" href="/Veterans">Sign In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employers Sign in here</h2>
        <p>Employers can sign up or login here to post jobs or view potential employees resumes.</p>
        <p><a class="btn btn-default" href="/Employers/Create">Sign Up &raquo;</a> </p>
        <p><a class="btn btn-default" href="/Employers/Login">Sign In &raquo;</a></p>
    </div>
</div>