@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vet Jobs</h1>
    <p class="lead">Welcome to Vet Jobs Search.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This site was created to help veterans and potential employers find each other. Whether it is a new career
            or just a weekend project to earn some cash.
        </p>
        <a class="btn btn-primary " href="@Url.Action("Dashboard","Jobs")">View Jobs</a>
    </div>
</div>