@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vet Jobs</h1>
    <p class="lead">Welcome to Vet Jobs Search (Temporary).</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This site was created to help veterans and potential employers find each other. Whether it is a new career
            or just a weekend project to earn some cash.
        </p>

        <h2>Operational Support Specialist</h2> 
        <p>
            GENCO 493 reviews - United States
            The position will be responsible for performing tasks involved in providing support to business critical production environments utilizing best of breed Warehouse Management Systems along with interface systems exchanging high volume transactions between internal and external applications
            This Position Will Be Responsible For…..
            Participate in all phases of operational support of applications and components in multi-technology, business-critical systems including but not limited to:
            Must be able to display ability to logically work through problems to create solutions so business operations contractual service level agreements are maintained
            Analyzing and re-engineering repetitive failed processes to drive out risk
            Work closely with development team to design, configure, and test application modifications
            Maintain understanding of interface specifications and configuration options
            Conducting business process simulations and user acceptance tests

        </p>
    </div>
</div>