@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Veterans Jobs</h1>
    <p class="lead">Welcome to the Veterans Jobs Search.</p>

</div>

<div class=" backgroundImage"img src="http://wallpage.ru/imgbig/wallpapers_23607.jpg"> </div>

<div class="row">
    <div class="col-md-12">
        <h2 class="landingHeadline">Getting started</h2>
        <p>
            This site was created to help veterans and potential employers find each other. Whether it is a new career
            or just a weekend project to earn some cash.
        </p>
        <a class="btn viewDash" href="@Url.Action("Dashboard", "Jobs")">View Dashboard</a>
    </div>
</div>
