
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<a class="btn btn-primary " href="@Url.Action("Resume")">Manage Resume</a>
<a class="btn btn-primary " href="@Url.Action("Resume")">Manage Jobs</a>


