
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p>Welcome to your dashboard where you can see all lists of jobs and create or update your resume.</p>

<a class="btn btn-primary " href="@Url.Action("Index", "Jobs")">View Jobs</a>

<a class="btn btn-primary " href="@Url.Action("Index","Resume")">Manage Resume</a>


