body {
    margin: 0 auto;
    /*background: url("../Images/FlagBackground.jpg") no-repeat center fixed;
    background-size: cover;*/
    min-height: 100vh;
}


.background {
    position: relative;

}

.background img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    margin-top: -40px;
}

.navbar-right {
    position: fixed;
    right: 7%;
}

.table {
    background-color: #ADD8E6;
    color: #000;
    border-radius: 10px;
    box-shadow: 3px 3px 0 #050402;
    padding: 15px;
    border-top: none;
}

.jumbotron {
    background-color: #406C8F;
    box-shadow: 3px 3px 0 #555;
    position: relative;
    z-index:99;
}

.navbar-right ul li a {
    color: #fff;
    background-color:#406C8F;
}

.navbar-right ul li a:visited {
    color: #fff;
}

.body-content {
    margin: 130px auto;
    width: 50%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.navbar-inverse {
    color: #fff !important;
}
.navbar-inverse .navbar-brand {
    font-size: 3rem;
    margin: 0 10px 0 0;
    color: #fff;
}

.navbar {
    background-color:#406C8F;
    height: auto;
    position: fixed;
    margin-bottom: 0;
}

.navbar ul {
    background-color:#406C8F;
}

.navbar-collapse {
    background-color:#406C8F;
    float: left;
    clear: both;
}

.navbar-collapse ul {
    margin: 0 auto;
}

.navbar-collapse ul li a{
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    box-shadow: 3px 2px 0 rgba(0,0,0,.3);
    margin: 2px 0 10px 7px;
    color: #fff;
    padding: 7px;
}

.navbar-collapse ul li a:visited{
    color: #fff;
}

.navbar-collapse ul li a:hover{
    background-color: rgba(255, 255, 255, .6);
}

.navbar-right ul li a:visited {
    color: #ffffff;
}

.listing {
    border-radius: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    text-align: center;
    background-color: #adbecc;
    box-shadow: 3px 2px 0 rgba(0, 0, 0, .6);
    overflow: auto;
    zoom: 1;
}
.landingHeadline {
    text-align: center;
    margin-top: 0;
}

.viewDash {
    background-color: #406c8f;
    color: #fff0f5;
    box-shadow: 3px 2px 0 rgba(0,0,0,.7);
    width: 80%;
    margin: 15px auto;
    display: block;
}

.dashboard {
    background-color: #406c8f;
    color: white;
    box-shadow: 3px 2px 0 rgba(0,0,0,.7);
    width: 150px;
    margin-top: 30px;
}
.viewJobs {
    float: left;
    margin-left: 40px;

}

.manageResume {
    float: right;
    margin-right: 40px;
}



/*View Jobs*/

.table {
    background-color: #adbecc;
    box-shadow: 3px 2px 0 rgba(0, 0, 0, .6);
}
.listing {
    background-color: #adbecc;
    box-shadow: 3px 2px 0 rgba(0, 0, 0, .6);
}

.createButtons {
    padding-left: 21%;
    padding-right: 40%;
}
.createJob {
    background-color: #406c8f;
    color: white;
    box-shadow: 3px 2px 0 rgba(0,0,0,.7);
}
.blueButton {
    position: relative;
     background-color: #406c8f;
    color: white;
    box-shadow: 3px 2px 0 rgba(0,0,0,.7);
    z-index: 99;
}
.btn {
    position: relative;
    z-index: 99;
}

.goLeft {
    float: left;
 
}

.backList {
    background-color: #406c8f;
    color: white;
    box-shadow: 3px 2px 0 rgba(0,0,0,.7);
    float: right;
 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
